:root {
    --primary-color: #FFFFFF;
    --secondary-color: #04B4E0;
    --background-color: #F2F7F9;
    
    --icons-color: #B5B6B7;
    --title-color: #222222;
    --subtitle-color: #888;
    --text-color: #555;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}

.layout {
    position: relative;
    min-width: 1290px;
    min-width: 80vh;
    width: 75%;
    height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
}



